span.flash-card-icon
{
    padding: .5em;
}

td.flash-card-score
{
    text-align: right;
    padding: .5em;
}

span.flash-card-score
{
    font-size: 16pt;
    font-weight: 400;
}

.bgcolor-correct
{
    background-color: #008800;
    color: #CCCCCC;
}

.bgcolor-incorrect
{
    background-color: #880000;
    color: #CCCCCC;
}

.color-correct
{
    color: #008800;
}

.color-incorrect
{
    color: #880000;
}

.verb-cell
{
    width: 5em;
    text-align: right;
    font-weight: 600;
}

.verb-root-cell
{
    width: 6em;
    text-align: right;
    font-weight: 600;
}
.verb-root-cell-header
{
    width: 4em;
    text-align: center;
    font-weight: 600;
    font-size: 20pt;
    padding: .5em;
}

.hebrew-verb
{
    padding-right: 5px;
    padding-left: 5px;
    width: 4em;
    direction: RTL;
    font-weight: 600;
}

.hebrew-verb-pronoun
{
    padding-left: 5px;
    padding-right: 5px;
    direction: RTL;
}

.hebrew-translation-button
{
    display: inline-block;
    width: 20em;
    height: 5em;
    font-weight: 600;
}

.red
{
    background-color: #ff6666;
}
.
.green
{
    background-color: #66ff66;
}

@media print {
    .pagebreak { height:0; page-break-before:always; margin:0; border-top:none; }
}